{{#extend "default"}}
    {{#content "body"}}
        <!-- sResponsive -->
        <div class="section">
            <div class="section-content"></div>
        </div>
        <!-- /sResponsive -->
    {{/content}}
{{/extend}}