.main {
	min-width: 320px;
    overflow-x: hidden;
	.main-content {
		padding: 0;
		.section {
			min-height: 100vh;
			margin: auto !important;
			.section-content {
				min-height: 100vh;
				padding: 30px 10px 10px 10px;
				position: relative;
				&.center {
					text-align: center;
				}
				@media #{$desktop} {
					.section-body {
						width: $desktop-width;
						margin: auto;
					}
				}
			}
		}
	}
}
