@import "main";
@import "vendors/bootstrap/jasny";


.main {
    .main-content {
        padding: 0px;
        .section .section-content {
            height: 100vh;
            overflow: hidden;
            padding: 0px;
            .scroller {
                max-height: 100%;
                overflow: hidden;
                overflow-y: auto; 
            }
        }
    }
}

#login {
    height: 400px;
    margin: auto;
    width: 400px;
    .fileinput {
        display: block;
        margin: auto;
        position: relative;
        width: 200px;
        .fileinput-preview {
            background-image: url(/images/icon-user-default.png);
            background-origin: content-box;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &.fileinput-exists {
            .fileinput-preview {
                background-image: none;
            }
            .fileinput-dismiss {
                bottom: 10px;
                display: block !important;
                position: absolute;
                right: 5px;
            }
        }
        
    }
}

#messages {
    bottom: 94px;
    left: 0px;
    padding-bottom: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    
    .table {
        margin: 0px;
        .table-cell {
            vertical-align: bottom;
        }
    }
    
    .messages-wrapper {
        .message {
            padding: 20px;
            position: relative;
            .popover {
                display: block;
                position: relative;

                .popover-content {
                    h5, .h5 {
                        color: #dd5500;
                        font-weight: 600;
                        margin-bottom: 5px;
                        margin-top: 0;
                    }
                }
                &.left {
                    float: right;
                    margin-left: 0px;
                    margin-right: 60px;
                    h5, .h5 { display: none; }
                    +.profile-image { right: 20px; }
                }
                &.right {
                    float: left;
                    margin-right: 0px;
                    margin-left: 60px;
                    +.profile-image { left: 20px; }
                }
            }
            .profile-image {
                bottom: 0;
                height: 45px;
                margin: auto;
                position: absolute;
                top: 0;
                width: 45px;
                z-index: 100;
                .icon {
                    background-color: #fff;
                    border: 2px solid #fff;
                    @include box-shadow(#000035 2px 2px 5px);
                    height: 100%;
                    vertical-align: top;
                    width: 100%;
                }
            }
        }   
    }
}

#tweets {
    bottom: 0px;
    height: 94px;
    left: 0px;
    margin-bottom: 0px;
    position: absolute;
    width: 100%;
    .btn-send {
        float: right;
        padding: 24px;
    }
    
    .txt-send {
        margin-right: 100px;
    }
}